﻿/*
Theme Name: Surfarama
Theme URI: http://wpthemes.co.nz/surfarama/
Author: WPThemes NZ
Author URI: http://wpthemes.co.nz/
Description: Surfarama is a bold and fun theme which uses the popular mason style layout on the home page and category pages to highlight imagery and make for a very visual presentation. It's perfect for travel and magazine style blogs heavy on the imagery. The theme is highly customizable with the ability to upload your own logo, set the background color (or image), the primary theme color and even color code the categories without any coding required.
Version: 1.1.1
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: custom-menu, sticky-post, microformats, rtl-language-support, translation-ready, full-width-template, post-formats

*/

/******************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
/******************************************************************
RESET STYLES
******************************************************************/
/* general reset */
html, body, div, span, object, embed, ruby, output, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video { 
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
     
html { 
	overflow-y: scroll;
}

/* html 5 reset */             
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section { 
	display: block; 
}

/* ul & li resets */
ol, ul { 
	list-style: none; 
}

/* blockquote reset */
blockquote, q { 
	quotes: none; 
}

blockquote:before, 
blockquote:after, 
q:before, 
q:after { 
	content: ''; 
	content: none; 
}

/* link style resets */
a { 
	margin: 0; 
	padding: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
}

a:hover,
a:active { 
	outline: none; 
}

/* table resets */
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}

td, 
td img { 
	vertical-align: top; 
} 

/* type & header styles */
body { 
	font-size: 14px; /* for IE8 */
	font-size: 0.9rem;
	line-height: 24px; /* for IE8 */
	line-height: 1.5rem; 
	font-family: Verdana, Geneva, sans-serif;
}

p { 
	hyphenate: auto;
	hyphenate-before: 2; 
	hyphenate-after: 3; 
	hyphenate-lines: 3; 
	orphans: 4; 
}

select, 
input, 
textarea, 
button { 
	font: 99% sans-serif;
	border-radius: 0;
}
	select {
		max-width: 100%;
	}
	
	input[type=search] {
	  -webkit-appearance: none;
	}
	
body, 
select, 
input, 
textarea {   
	color: #444;
}

small, 
.small {
	font-size: 12px; /* for IE8 */
	font-size: 0.75rem;
	letter-spacing: 1px; /* for IE8 */
	letter-spacing: .05rem; 
	font-style: italic;
	line-height: 28px; /* for IE8 */
	line-height: 1.75rem;
}

strong, 
th, 
.strong { 
	font-weight: bold;
}

em, 
.em { 
	font-style: italic;
}

ins, 
.ins { 
	background-color: #ff9; 
	color: #000; 
	text-decoration: none; 
}

mark, 
.mark { 
	background-color: #ff9; 
	color: #000; 
	font-style: italic; 
	font-weight: bold; 
}

del, 
.del { 
	text-decoration: line-through; 
}

abbr[title], 
dfn[title] { 
	border-bottom: 1px dotted; 
	cursor:help; 
}

sub { 
	vertical-align: sub; 
	font-size: smaller; 
}

sup { 
	vertical-align: super; 
	font-size: smaller; 
}

/* code & pre box resets */
pre {  
	padding: 15px;  
	white-space: pre;  
	white-space: pre-wrap;  
	white-space: pre-line;  
	word-wrap: break-word; 
}

/* form & input resets */
pre, 
code, 
kbd, 
samp { 
	font-family: monospace, sans-serif;
	margin: 24px; /* for IE8 */ 
	margin: 1.5rem; 
}

input, 
select { 
	vertical-align:middle; 
}

textarea { 
	overflow: auto; 
} 

.ie6 legend, 
.ie7 legend { 
	margin-left: -7px; 
} 

input[type="radio"] { 
	vertical-align: text-bottom; 
}

input[type="checkbox"] { 
	vertical-align: bottom; 
}

.ie7 input[type="checkbox"] { 
	vertical-align: baseline; 
}

.ie6 input { 
	vertical-align: text-bottom; 
}

label, 
input[type=button], 
input[type=submit], 
button { 
	cursor: pointer; 
}

button, 
input, 
select, 
textarea { 
	margin: 0; 
}

/* vaidation */
input:valid, 
textarea:valid {  }
input:invalid, 
textarea:invalid { 
	border-radius: 1px;  
	-moz-box-shadow: 0px 0px 5px red; 
	-webkit-box-shadow: 0px 0px 5px red;  
	box-shadow: 0px 0px 5px red; 
}

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { 
	background-color: #f0dddd; 
}

button { 
	width: auto; 
	overflow: visible; 
}

/* image resets */
.ie7 img, 
.irem7 img { 
	-ms-interpolation-mode: bicubic; 
}

/* hidden elements */
.hidden { 
	display: none; 
	visibility: hidden; 
} 

.visuallyhidden { 
	position: absolute !important; 
	clip: rect(1px 1px 1px 1px);  
	clip: rect(1px, 1px, 1px, 1px); 
}

/* added from 320&Up Project */

input, 
textarea  { 
	-webkit-box-sizing : border-box; 
	-moz-box-sizing : border-box; 
	-o-box-sizing : border-box; 
	box-sizing : border-box; 
}

/* clearfixes */
.clearfix:after, 
.menu ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix { 
	zoom: 1;
}

.clearfix:after { 
	clear: both; 
}

/******************************************************************
COMMON & REUSABLE STYLES
******************************************************************/

/* floats */
.left { 
	float: left; 
}

.right { 
	float: right; 
}

/* text alignment */
.text-left { 
	text-align: left; 
}

.text-center { 
	text-align: center; 
}

.text-right { 
	text-align: right; 
}

/* highlighting search term on search page */
mark, 
.search-term { 
	background: #EBE16F;
}

/* alerts & notices */
.help, 
.info, 
.error, 
.success { 
	margin: 10px; 
	padding: 10px; 
	border: 1px solid #cecece; 
}

.help { 
	border-color: #E0C618; 
	background: #EBE16F; 
}

.info { 
	border-color: #92cae4; 
	background: #d5edf8; 
}

.error { 
	border-color: #fbc2c4; 
	background: #fbe3e4; 
}

.success { 
	border-color: #c6d880; 
	background: #e6efc2; 
} 

/******************************************************************
GENERAL STYLES
******************************************************************/

body { 
	-webkit-text-size-adjust : 100%; /* font size on apple devices */
	-ms-text-size-adjust : 100%;  /* font size on windows devices */
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5,
h6, .h6 {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

h1 a, .h1 a, 
h2 a, .h2 a, 
h3 a, .h3 a, 
h4 a, .h4 a, 
h5 a, .h5 a { 
	text-decoration: none;
}

h1, .h1 {
	font-size: 32px; /* for IE8 */
	font-size: 2rem; 
	line-height: 32px; /* for IE8 */
	line-height: 2rem;
}

h2, .h2 { 
	font-size: 24px; /* for IE8 */
	font-size: 1.5rem; 
	line-height: 28px; /* for IE8 */
	line-height: 1.75rem;
}

h3, .h3 { 
	font-size: 19px; /* for IE8 */
	font-size: 1.2rem; 
	line-height: 24px; /* for IE8 */
	line-height: 1.5rem;
}

h4, .h4 { 
	font-size: 16px; /* for IE8 */
	font-size: 1.05rem; 
	line-height: 19px; /* for IE8 */
	line-height: 1.2rem;
}

h5, .h5 { 
	font-size: 13px; /* for IE8 */
	font-size: 0.846rem; 
	line-height: 33px; /* for IE8 */
	line-height: 2.09rem; 
	text-transform: uppercase; 
	letter-spacing: 2px; 
}

h6, .h6 { 
	font-size: 12px; /* for IE8 */
	font-size: 0.75rem; 
	line-height: 30px; /* for IE8 */
	line-height: 1.85rem; 
	text-transform: uppercase; 
	letter-spacing: 2px; 
}

/******************************************************************
GENERAL LAYOUT STYLES
******************************************************************/

body {
	color: #000;
}

#container { 
	width: 96%;
	margin: 0 auto;
	padding: 0 2%;
	max-width: 940px; /* for IE8 */
	max-width: 62.5rem;
	-webkit-box-sizing : border-box; 
	-moz-box-sizing : border-box; 
	-o-box-sizing : border-box; 
	box-sizing : border-box; 
}
	
	/* layout options ( all have margins right & left of 1%) */
	
	.col60 { 
		width: 6.333%; 
	} /* width 60px / grid_1 */
	
	.col140 { 
		width: 14.667%; 
	} /* width 140px / grid_2 */
	
	.col220 { 
		width: 23.0%; 
	} /* width 220px / grid_3 */
	
	.col300 { 
		width: 31.333%; 
	} /* width 300px / grid_4 */
	
	.col380 { 
		width: 39.667%; 
	} /* width 380px / grid_5 */
	
	.col480 { 
		width: 48.0%; 
	} /* width 480px / grid_6 */
	
	.col540 { 
		width: 56.333%; 
	} /* width 540px / grid_7 */
	
	.col620 { 
		width: 64.667%; 
	} /* width 620px / grid_8 */
	
	.col700 { 
		width: 73.0%; 
	} /* width 700px / grid_9 */
	
	.col780 { 
		width: 81.333%; 
	} /* width 780px / grid_10 */
	
	.col860 { 
		width: 89.667%; 
	} /* width 860px / grid_11 */
	
	.col940 { 
		width: 98.0%; 
	} /* width 940px / grid_12 */
	
	/* layout & column defaults */
	.col60, 
	.col140, 
	.col220, 
	.col300, 
	.col380, 
	.col480, 
	.col540, 
	.col620, 
	.col700, 
	.col780, 
	.col860, 
	.col940 { 
		display: inline; 
		float: left;
		margin-left: 1%; 
		margin-right: 1%; 
		position: relative;
	}
	
	/* default styles & fixes */
	#main { 
		margin-left: 0; 
	} /* fixes alignment (defaulted at col620) */
	
	#sidebar { 
		margin-right: 0; 
	} /* fixes alignment (defaulted at col300) */
	
/******************************************************************
LINK STYLES
******************************************************************/

a, a:visited { 
	color: #000;
	text-decoration: underline; 
}
a:hover {
	text-decoration: none; 
}
a:active {} /* on click */
a:link { 
	-webkit-tap-highlight-color : rgba(0,0,0,0); /* this highlights links on Iphones / iPads */
}

/******************************************************************
TEXT SELECTION STYLES
******************************************************************/

/* Safari, Chrome, iPhones, iPads */
::-webkit-selection { 
	background: #000; 
	color: #fff; 
	text-shadow : none; 
}

/* Firefox */
::-moz-selection { 
	background: #000; 
	color: #fff; 
	text-shadow : none; 
}

/* The Rest */
::selection { 
	background: #000; 
	color: #fff; 
	text-shadow : none; 
}


/******************************************************************
WORDPRESS BODY CLASSES
want to style a page via body class? go ahead
******************************************************************/

body.rtl {}
body.home {} /* home page */
body.blog {} 
body.archive {} /* archive page */
body.date {} /* date archive page */
	body.date-paged-1 {} /* replace the number to the corresponding page number */
body.search {} /* search page */
	body.search-results {} /* search result page */
	body.search-no-results {} /* no results search page */
	body.search-paged-1 {} /* individual paged search (i.e. body.search-paged-3) */
body.error404 {} /* 404 page */
body.single {} /* single post page */
	body.postid-1 {} /* individual post page by id (i.e. body.postid-73) */
	body.single-paged-1 {} /* individual paged single (i.e. body.single-paged-3) */
body.attachment {} /* attatchment page */
	body.attachmentid-1 {} /* individual attatchment page (i.e. body.attachmentid-763) */
	body.attachment-mime-type {} /* style mime type pages */
body.author {} /* author page */
	body.author-nicename {} /* user nicename (i.e. body.author-samueladams) */
	body.author-paged-1 {} /* paged author archives (i.e. body.author-paged-4) for page 4 */
body.category {} /* category page */
	body.category-1 {} /* individual category page (i.e. body.category-6) */
	body.category-paged-1 {} /* replace the number to the corresponding page number */
body.tag {} /* tag page */
	body.tag-slug {} /* individual tag page (i.e. body.tag-news) */
	body.tag-paged-1 {} /* replace the number to the corresponding page number */
body.page-template {} /* custom page template page */
	body.page-template-page-php {} /* individual page template (i.e. body.page-template-contact-php */
	body.page-paged-1 {} /* replace the number to the corresponding page number */
	body.page-parent {}
	body.page-child {}
	body.parent-pageid-1 {} /* replace the number to the corresponding page number */
body.logged-in {} /* if user is logged in */
body.paged {} /* paged items like search results or archives */
	body.paged-1 {} /* individual paged (i.e. body.paged-3) */
	
/* new browser classes */
body.browser-lynx {} /* lynx browsers */
body.browser-gecko {} /* firefox browsers */
body.browser-opera {} /* opera browsers */
body.browser-ns4 {} /* ns4 browsers */
body.browser-safari {} /* safari browsers */
body.browser-chrome {} /* chrome browsers */
body.browser-ie {} /* ie browsers ( aka dinosaurs) */
body.browser-iphone {} /* iphones (expirimental, best to use Media Queries) */

/******************************************************************
SEARCH BOX
******************************************************************/

#search-box-wrap {
	background-color: #359bed;
	height: 50px;
	display: none;
}

#search-box {
	position: relative;
	width: 96%;
	margin: 0 auto;
	padding: 0;
	max-width: 1044px;
}

#search-box #searchform {
	float: right;
	margin-top: 10px;
}

#search-box #searchform label {
	display: none;
}

#search-box #s {
	height: 30px;
	font-size: 1.2em;
	background: url(library/images/icon-search.png) no-repeat 7px 7px #fff;
	padding: 5px 7px 5px 30px;
	border: 0;
	box-shadow: 3px 3px 10px #d0d0d0 inset;
	width: 400px;
	outline: none;
	margin-right: -5px;
}

#search-box #searchform input[type=submit] {
	height: 30px;
	background-color: #000;
	font-family: "Open Sans", "Arial Narrow", Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	border: 0;
	padding: 3px 10px;
}

#search-box #close-x {
	float: right;
	width: 23px;
	height: 23px;
	background-color: #000;
	font-family: "Open Sans", "Arial Black", Gadget, sans-serif;
	font-weight: 800;
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	line-height: 21px;
	margin-top: 12px;
	margin-right: 0;
	margin-left: 15px;
	cursor: pointer;
}

/******************************************************************
SOCIAL MEDIA BUTTONS STYLES
******************************************************************/

#social-media {
	display: inline-block;
	width: 39%;
	text-align: right;
	padding-top: 30px;
	padding-bottom: 20px;
	vertical-align: bottom;
}
	#social-media a,
	#search-icon {
		width: 36px;
		height: 36px;
		display: inline-block;
		margin-left: 2px;
		margin-bottom: 8px;
		text-indent: 9999px;
		outline: none;
		background-repeat: no-repeat;
		background-position: center center;
		vertical-align: top;
		overflow: hidden;
	}
	
	#social-media a.social-fb {
		background-image: url(library/images/icon-fb.png);
		background-color: #3b5998;
	}
	
	#social-media a.social-tw {
		background-image: url(library/images/icon-tw.png);
		background-color: #5dd7fc;
	}
	
	#social-media a.social-gp {
		background-image: url(library/images/icon-gp.png);
		background-color: #dd4b39;
	}
	
	#social-media a.social-pi {
		background-image: url(library/images/icon-pi.png);
		background-color: #ce232c;
	}
	
	#social-media a.social-li {
		background-image: url(library/images/icon-li.png);
		background-color: #1783bc;
	}
	
	#social-media a.social-yt {
		background-image: url(library/images/icon-yt.png);
		background-color: #a92925;
	}
	
	#social-media a.social-tu {
		background-image: url(library/images/icon-tu.png);
		background-color: #32526b;
	}
	
	#social-media a.social-in {
		background-image: url(library/images/icon-in.png);
		background-color: #406f95;
	}
	
	#social-media a.social-fl {
		background-image: url(library/images/icon-fl.png);
		background-color: #ff0084;
	}
	
	#social-media a.social-vi {
		background-image: url(library/images/icon-vi.png);
		background-color: #2d2b2e;
	}
	
	#social-media a.social-ye {
		background-image: url(library/images/icon-ye.png);
		background-color: #c41200;
	}
	
	#social-media a.social-rs {
		background-image: url(library/images/icon-rss.png);
		background-color: #fe9900;
	}
	
	#social-media a.social-em {
		background-image: url(library/images/icon-email.png);
		background-color: #75D100;
	}
	
	#search-icon {
		background-image: url(library/images/icon-search-w.png);
		background-color: #359bed;
		cursor: pointer;
	}

/******************************************************************
HEADLINES & TITLES
******************************************************************/

h1, .h1 {}
h2, .h2 {}
h3, .h3 {}
h4, .h4 {}
h5, .h5 {}

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {}

/******************************************************************
HEADER SYTLES
******************************************************************/

header[role=banner] {
	position: relative;
}

	header[role=banner] div {
		-webkit-box-sizing : border-box; 
		-moz-box-sizing : border-box; 
		-o-box-sizing : border-box; 
		box-sizing : border-box; 	
	}

	#site-heading { 
		padding-top: 24px; 
		padding-bottom: 10px;
		width: 60%;
		display: inline-block;
		vertical-align: bottom;
	}
	
	#site-logo {
		padding-bottom: 15px;
	}
		
	#site-title {
		padding-bottom: 15px;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 44px; /* for IE8 */
		font-size: 2.75rem;
		font-weight: 800;
		line-height: 40px; /* for IE8 */
		line-height: 2.5rem;
		text-transform: uppercase;
	}
		.no-csstransforms #site-title {
			font-weight: bold;
		}
	
	#site-title a { 
		color: #000; 
		text-decoration: none;
	}

.entry-header { 
	margin-bottom: 25px;
}

.entry-title,
.page-title {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 28px; /* for IE8 */
	font-size: 1.75rem;
	margin-bottom: 5px;
}

	.entry-title a,
	.entry-title a:visited { 
		color: #000;
	}
		.entry-title a:hover { 
			text-decoration: underline;
		}
	
	body.page .entry-title, 
	body.single .entry-title, 
	.not-found .entry-title {
		font-size: 35px; /* for IE8 */
		font-size: 2.2em;
		font-weight: 300;
	}
	
.page-header { 
	margin-left: 0; 
	margin-right: 0; 
	margin-top: 20px;
	margin-bottom: 10px; 
}

/******************************************************************
NAVIGATION STYLES
(Main Navigation)
******************************************************************/
div.menu {}
	div.menu ul {}
		div.menu ul li { 
			list-style-type: none; 
			float: left; 
		}
			div.menu ul li a { 
				display: block; 
				text-decoration: none; 
			}
				div.menu ul li:last-child a {}
				div.menu ul li a:hover {}
		div.menu ul li.current-menu-item a, 
		div.menu ul li.current_page_item a {}
		div.menu ul li ul.sub-menu, 
		div.menu ul li ul.children { 
			position: absolute; 
			z-index: 9999; 
			width: 200px; 
			word-wrap: break-word;
			display: none;
		}
			div.menu ul li ul li a {}
				div.menu ul li ul li a:hover {}
			div.menu ul li ul li:last-child a {}
			div.menu ul li:hover > ul { 
				display: inline;
			}
				div.menu ul li ul li ul.sub-menu, 
				div.menu ul li ul li ul.children { 
					right: -200px; 
					position: absolute;  
					top: auto; 
					margin-top: -30px; 
					display: none;
				}
					div.menu ul li ul li:hover > ul.sub-menu, 
					div.menu ul li ul li:hover > ul.children { 
						display: inline;
					}
					
		.widget_nav_menu ul li { 
			float:none 
		}

		.widget_nav_menu ul li ul.sub-menu, 
		.widget_nav_menu ul li ul.children,
		.widget_pages ul li ul.sub-menu, 
		.widget_pages ul li ul.children { 
			position: relative;
			left: auto;
			z-index: 9999; 
			width: auto;
			word-wrap: break-word;
			margin-left: 16px; /* for IE8 */
			margin-left: 1rem;
			margin-top: 8px; /* for IE8 */
			margin-top: 0.5rem;
		}
			.widget_nav_menu ul li ul.sub-menu a, 
			.widget_nav_menu ul li ul.children a {}
			
			.widget_nav_menu ul li ul li ul.sub-menu, 
			.widget_nav_menu ul li ul li ul.children { 
				left: auto; 
				position: relative;
				margin-left: 16px; /* for IE8 */
				margin-left: 1rem;
				margin-top: 8px; /* for IE8 */
				margin-top: 0.5rem;
				top: auto; 
				word-wrap: break-word; 
			}

nav[role=navigation] {}
	nav[role=navigation] div.menu { 
		background-color: #000;
	}
	
	nav[role=navigation] ul.menu { 
		
	}
		nav[role=navigation] .menu ul li {}
			nav[role=navigation] .menu ul li a, 
			nav[role=navigation] .menu #menu-icon {
				font-family: "Open Sans", Arial, Helvetica, sans-serif;
				font-weight: 400;
				padding: 13px 25px;
				color: #fff;
				text-transform: uppercase;
				/*background-image: url(library/images/trans.png);*/
				background-repeat: repeat-y;
				background-position: right top;
			}
			
			nav[role=navigation] .menu #menu-icon {
				cursor: pointer;
				display: none;
			}
			
				nav[role=navigation] .menu ul li a:hover {
					background-color: #359bed;
					/*background-image: url(library/images/trans2.png);*/
				}
				
				nav[role=navigation] .menu ul li:first-child a {

				}
				
		nav[role=navigation] .menu ul li.current-menu-item a, 
		.nav ul li.current_page_item a, 
		nav[role=navigation] .menu ul li.current_page_item a {
			background-color: #359bed;
			/*background-image: url(library/images/trans2.png);*/
		}
		
			nav[role=navigation] .menu ul.sub-menu li.current-menu-item a, 
			.nav ul.sub-menu li.current_page_item a, 
			nav[role=navigation] .menu ul.sub-menu li.current_page_item a,
			nav[role=navigation] .menu ul  li.current-page-parent ul.sub-menu li a,
			nav[role=navigation] .menu ul  li.current-menu-item ul.sub-menu li a,
			nav[role=navigation] .menu ul  li.current_page_parent ul.children li a,
			nav[role=navigation] .menu ul  li.current_page_item ul.children li a,  
			.nav ul li.current_page_item ul.sub-menu li a, 
			nav[role=navigation] .menu ul li.current_page_item ul.sub-menu li a {
				background: none;
			}
				
				nav[role=navigation] .menu ul.sub-menu li.current-menu-item a:hover, 
				.nav ul.sub-menu li.current_page_item a:hover, 
				nav[role=navigation] .menu ul.sub-menu li.current_page_item a:hover,
				nav[role=navigation] .menu ul li.current-page-parent ul.sub-menu li a:hover,
				nav[role=navigation] .menu ul li.current-menu-item ul.sub-menu li a:hover,
				nav[role=navigation] .menu ul li.current_page_parent ul.children li a:hover,
				nav[role=navigation] .menu ul li.current_page_item ul.children li a:hover,  
				.nav ul li.current_page_item ul.sub-menu li a:hover, 
				nav[role=navigation] .menu ul li.current_page_item ul.sub-menu li a:hover {
					background: #f5f5f5;
				}
		
		
		nav[role=navigation] .menu ul li ul.sub-menu, 
		nav[role=navigation] .menu ul li ul.children {
			background: #fafafa;
			box-shadow: 1px 1px 3px #aaa;
			
		}
		
		nav[role=navigation] .menu ul li ul.sub-menu li, 
		nav[role=navigation] .menu ul li ul.children li {
			border-bottom: 1px solid #f0f0f0;
			width: 200px;
		}
		
		nav[role=navigation] .menu ul li ul.sub-menu li a, 
		nav[role=navigation] .menu ul li ul.children li a {
			font-size: 12px; /* for IE8 */
			font-size: 0.75rem;
			border: 0;
			padding: 8px 20px;
		}
		
		nav[role=navigation] .menu ul li ul.sub-menu li:first-child, 
		nav[role=navigation] .menu ul li ul.children li:first-child {
			
		}
		
		nav[role=navigation] .menu ul li ul.sub-menu li:first-child a, 
		nav[role=navigation] .menu ul li ul.children li:first-child a {
			
		}
			nav[role=navigation] .menu ul li ul li a { 
				color: #555; 
				text-shadow: 0px 0px; 
			}
				nav[role=navigation] .menu ul li ul li a:hover { 
					background: #f5f5f5; 
					color: #555; 
				}
			nav[role=navigation] .menu ul li ul li:last-child a {}
			nav[role=navigation] .menu ul li:hover ul {}
				nav[role=navigation] .menu ul li ul li ul.sub-menu, 
				nav[role=navigation] .menu ul li ul li ul.children {
					margin-top: -40px;
				}
					nav[role=navigation] .menu ul li ul li:hover ul.sub-menu,
					nav[role=navigation] .menu ul li ul li:hover ul.children {
						
					}

/******************************************************************
POSTS & CONTENT STYLES
******************************************************************/

#content {
	padding-bottom: 1px;
}
	#content div {
		-webkit-box-sizing : border-box; 
		-moz-box-sizing : border-box; 
		-o-box-sizing : border-box; 
		box-sizing : border-box; 
	}

	#main { 
		 /* adds bg to post area */
		 margin-top: 2%;
		 position: relative;
	}
		body.single #main,
		body.page #main {
			margin-top: 35px;
		}
		
		#main #searchform {
			margin-bottom: 24px; /* for IE8 */
			margin-bottom: 1.5rem;
		}
		
		#main #intro-text {
			font-family: "Open Sans", Arial, Helvetica, sans-serif;
			font-size: 20px; /* for IE8 */
			font-size: 1.25rem;
			font-weight: 300;
			line-height: 28px; /* for IE8 */
			line-height: 1.75rem;
			padding-bottom: 25px;
		}
	
	body.page-template-full-width-php #main,
	body.page-template-full-width-page-php #main {}
	body.attachment #main {}
	
		article[id*=post-] {
			padding: 0 0 32px 0; /* for IE8 */
			padding: 0 0 2rem 0; 
			word-wrap: break-word;
		}
			body.page article[id*=post-] {
				
			}
		
		/* archive title */
		.archive_title { 
			padding: 0 20px; 
			margin: 17px 0 12px; /* for IE8 */
			margin: 1.1rem 0 0.75rem; 
		}
		
		article[id=post-not-found] h1 {}
	
		/* want to style individual post classes? Booya! */
		.post-id {} /* post by id (i.e. post-3) */
		.post {} /* general post style */
		.page {} /* general article on a page style */
		.attachment {} /* general style on an attatchment */
		.sticky {} /* sticky post style */
		.hentry {} /* hentry class */
		.category-slug {} /* style by category (i.e. category-videos) */
		.tag-slug {} /* style by tag (i.e. tag-news) */
	
		/* post meta */
		.entry-meta, 
		.category-archive-meta { 
			font-family: "Open Sans", Arial, Helvetica, sans-serif;
			font-size: 12px; /* for IE8 */
			font-size: .8rem;
			font-weight: 400;
			line-height: 28px; /* for IE8 */
			line-height: 1.75rem; 
			color: #999; 
			margin: 0 0 24px 0; /* for IE8 */
			margin: 0 0 1.5rem 0;
			text-transform: uppercase;
			color: #000;
		}
			.category-archive-meta {
				font-style: italic;
				text-transform: none;
				line-height: 20px; /* for IE8 */
				line-height: 1.25rem; 
				color: #a4a4a4;
			}
			.entry-meta a, 
			.category-archive-meta a {
				font-style: italic;
				color: #a4a4a4;
				text-transform: none;
			}
			
			.meta-by,
			.meta-on,
			.meta-com {
				display: inline-block;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: #359bed;
				text-indent: -9999px;
				vertical-align: middle;
				outline: none;
				background-position: center center;
				background-repeat: no-repeat;
				margin-right: 2px;
			}
				.meta-by {
					background-image: url(library/images/meta-author.png);
				}
				
				.meta-on {
					background-image: url(library/images/meta-date.png);
					margin-left: 15px;
				}
				
				.meta-com {
					background-image: url(library/images/meta-comment.png);
				}
				
				.comment-top {
					float: right;
				}
				
				footer.entry-meta {
					text-align: right;
					overflow: hidden;
				}
				
				.cat-meta-color {
					padding: 2px 12px;
					background-color: #359bed;
					color: #fff !important;
					margin-right: 5px;
					float: left;
				}
					.cat-meta-color a {
						color: #fff !important;
					}
		
				.colorbar {
					width: 100%;
					background-color: #359bed;
					height: 1px;
					overflow: hidden;
					margin-bottom: 5px;
				}

		
		.entry-summary { 
			font-size: 14px; /* for IE8 */
			font-size: 0.9rem 
		}
			.meta time {}
			
		/* post content */
		.post_content { 
			word-wrap: break-word;
			margin-bottom: 40px; /* for IE8 */
			margin-bottom: 2.5rem;
			overflow: hidden;
		}
			body.page .post_content { 
				margin-bottom: 20px; /* for IE8 */
				margin-bottom: 1.25rem;
			}
			
			.commentlist li.comment article[id*=comment-] p,
			.post_content p { 
				margin: 0 0 24px 0; /* for IE8 */
				margin: 0 0 1.5rem 0; 
			}
			
			.commentlist li.comment article[id*=comment-] p:last-child,
			.post_content p:last-child { 
				margin-bottom: 0; 
			}
			
			.post_content h1, .commentlist li.comment article[id*=comment-] h1,
			.post_content h2, .commentlist li.comment article[id*=comment-] h2,
			.post_content h3, .commentlist li.comment article[id*=comment-] h3,
			.post_content h4, .commentlist li.comment article[id*=comment-] h4,
			.post_content h5, .commentlist li.comment article[id*=comment-] h5,
			.post_content h6, .commentlist li.comment article[id*=comment-] h6,
			.post_content address, .commentlist li.comment article[id*=comment-] address {
				margin: 0 0 22px 0;
			}
			
			.commentlist li.comment article[id*=comment-] ul, .post_content ul, 
			.commentlist li.comment article[id*=comment-] ol, .post_content ol, 
			.commentlist li.comment article[id*=comment-] table, .post_content table, 
			.commentlist li.comment article[id*=comment-] dl, .post_content dl { 
				margin: 24px 0; /* for IE8 */
				margin: 1.5rem 0; 
			}
				.commentlist li.comment article[id*=comment-] dl.wp-caption, 
				.post_content dl.wp-caption {
					max-width: 100%;
					margin: 0;
				}
			
			.commentlist li.comment article[id*=comment-] table,
			.post_content table { 
				width: 100%; 
			}
			
				.commentlist li.comment article[id*=comment-] table th,
				.post_content table th { 
					border-bottom: 2px solid #848484; 
					text-align: left; 
				}
				
				.commentlist li.comment article[id*=comment-] table td,
				.post_content table td { 
					border-bottom: 1px solid #d0d0d0; 
					padding: 5px; 
				}
			
			.commentlist li.comment article[id*=comment-] ul, .post_content ul, 
			.commentlist li.comment article[id*=comment-] ol, .post_content ol { 
				list-style-position: outside; 
				line-height: 1.5; 
				margin-left: 35px; /* for IE8 */
				margin-left: 2.2rem; 
				margin-right: 35px; /* for IE8 */
				margin-right: 2.2rem; 
			}
			
			.commentlist li.comment article[id*=comment-] li, 
			.post_content li { 
				margin-bottom: 12px; /* for IE8 */
				margin-bottom: 0.75rem; 
			}
			
			
			.post_content ol {
				list-style: none; /* Remove default numbering */
				*list-style: decimal; /* Keep using default numbering for IE6/7 */
				counter-reset: my-counter;
			}
				.commentlist li.comment article[id*=comment-] ol {
					list-style: decimal;
				}
				
				.post_content ol li {
					list-style-type: none;
					position: relative;
					padding-left: 16px;
				}
				
				.post_content ol li:before {
					content: counter(my-counter) ")";
					counter-increment: my-counter;
					position: absolute;
					left: 0;
					top: 2px;
					color: #a0a0a0;
					font-family: Arial, Helvetica, sans-serif;
					font-weight: bold;
					font-size: 12px;
					text-align: center;
				}

			
			.post_content ul li {
				list-style: none;
				position: relative;
				padding-left: 12px;
			}
				.commentlist li.comment article[id*=comment-] ul li {
					list-style: disc;
				}
				
				.post_content ul li:before {
					content: "\2022";
					position: absolute;
					left: 0;
					top: 0;
					color: #a0a0a0;
					font-family: Arial, Helvetica, sans-serif;
					font-weight: 700;
					font-size: 16px;
				}
				
			.post_content form ul li,
			.post_content form ol li {
				padding-left: 0;
			}
				
			.post_content form ul li:before,
			.post_content form ol li:before {
				display: none;
			}
			
			.commentlist li.comment article[id*=comment-] blockquote, 
			.post_content blockquote { 
				font-style: italic;
				line-height: 26px; /* for IE8 */
				line-height: 1.6rem;
				margin: 24px 35px 24px 56px; /* for IE8 */
				margin: 1.5rem 2.2rem 1.5rem 3.5rem; 
			}
			
			.commentlist li.comment article[id*=comment-] blockquote:before, 
			.post_content blockquote:before { 
				font-family: Georgia, serif;
				font-weight: 700;
				content: "“";
				font-size: 80px; /* for IE8 */
				font-size: 5rem;
				text-indent: -56px; /* for IE8 */
				text-indent: -3.5rem;
				margin-top: 13px; /* for IE8 */
				margin-top: 0.8rem; 
				float: left; 
				opacity: .2; 
			}

			
			.commentlist li.comment article[id*=comment-] dt, 
			.post_content dt { 
				font-family: "Open Sans", Arial, Helvetica, sans-serif;
				font-style: italic;
				margin-top: 20px; /* for IE8 */
				margin-top: 1.25rem; 
				font-size: 18px; /* for IE8 */
				font-size: 1.13rem; 
				font-weight: 400; 
				border-bottom: 1px solid #999; 
			}
				.commentlist li.comment article[id*=comment-] dt.wp-caption-dt, 
				.post_content dt.wp-caption-dt {
					border: 0;
					margin: 0 auto;
				}
			
			.commentlist li.comment article[id*=comment-] dd, 
			.post_content dd { 
				font-style: italic;
				font-size: 13px; /* for IE8 */
				font-size: .85rem;
				margin-top: 16px; /* for IE8 */ 
				margin-top: 1rem;
				line-height: 25px; /* for IE8 */
				line-height: 1.6rem; 
			}
			
			.commentlist li.comment article[id*=comment-] video, .post_content video,
			.commentlist li.comment article[id*=comment-] object, .post_content object,
			.commentlist li.comment article[id*=comment-] embed, .post_content embed,
			.commentlist li.comment article[id*=comment-] iframe, .post_content iframe { 
				display: block;
				margin: 24px 0; /* for IE8 */
				margin: 1.5rem 0; 
				max-width: 100%;
			}
			
				
				.full-width-content .commentlist li.comment article[id*=comment-] video, .full-width-content .post_content video,
				.full-width-content .commentlist li.comment article[id*=comment-] object, .full-width-content .post_content object,
				.full-width-content .commentlist li.comment article[id*=comment-] embed, .full-width-content .post_content embed,
				.full-width-content .commentlist li.comment article[id*=comment-] iframe, .full-width-content .post_content iframe { 
					
				}
			
			.commentlist li.comment article[id*=comment-] pre,
			.post_content pre { 
				overflow: auto;
				background: #f5f5f5;
				border: 1px solid #f0f0f0;
				border-left: 3px solid #e0e0e0;
				padding-left: 25px;
			}
			
			.commentlist li.comment article[id*=comment-] img, 
			.post_content img {
				margin: 0 0 24px 0; /* for IE8 */ 
				margin: 0 0 1.5rem 0; 
				width: inherit;
				max-width: 100%; 
				height: auto; 
			}

			
		article[id*=post-] footer {
			clear: both;
			margin: 24px 0 0; /* for IE8 */ 
			margin: 1.5rem 0 0;
		}
		
		article[id*=post-] footer a {}
		
		.more-link {
			
		}
		
		.edit-link { 

		}
		
/******************************************************************
GRID BOX STYLES
******************************************************************/
#grid-wrap {
	position: relative;
	width: 980px; /* for IE8 */ 
	width: 61.25rem;
}

.grid-box {
	position: relative;
	display: inline-block;
	float: left;
	width: 220px;
	background-color: #359bed;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 11px 0; 
	color: #fff;
	overflow: hidden;
}
	.grid-box article {
		padding: 0;
	}
	
#grid-wrap:after {
	content: '';
	display: block;
	clear: both;
}

.grid-box.featured:first-child,
.grid-box.latest {
	width: 460px;
}

.grid-box .entry-meta {
	display: none;
}
	.grid-box .format-aside .entry-meta,
	.grid-box .format-quote .entry-meta,
	.grid-box .format-status .entry-meta {
		display: block;
		font-size: 11px;
		margin-top: 0;
		margin-left: 5px;
		padding-bottom: 5px;
		text-align: left;
	}
		.grid-box .format-aside .entry-meta a,
		.grid-box .format-quote .entry-meta a,
		.grid-box .format-status .entry-meta a {
			color: #fff;
		}
	
	.grid-box .meta-by,
	.grid-box .meta-on,
	.grid-box .meta-com {
		width: 18px;
		height: 18px;
		background-color: transparent !important;
		margin-right: 0;
	}
	
		.meta-on {
			margin-left: 4px;
		}
	
		.grid-box .format-aside .entry-header,
		.grid-box .format-quote .entry-header,
		.grid-box .format-status .entry-header {
			display: none;
		}
		
	.grid-box .format-quote blockquote { 
		font-style: italic;
		line-height: 1.5;
		margin: 10px 0 5px 30px;
	}
	
	.grid-box .format-quote blockquote:before { 
		font-size: 30px; /* for ie8 & below */ 
		font-size: 3.0rem;
		text-indent: -20px; /* for ie8 & below */
		text-indent: -2rem;
		margin-top: -15px; 
		float: left;
		opacity: 1; 
	}
	
	.grid-box .page-link {
		margin-bottom: 0;
	}


.grid-box .entry-title a,
.grid-box .entry-title a:visited {
	text-decoration: none;
	color: #fff;
}

.grid-box .entry-title a:hover {
	text-decoration: underline;
}

.grid-box-img {

}
	.grid-box-img img {
		width: inherit;
		min-width: 100%;
		max-width: 100%;
		height: auto;
	}

.grid-box .entry-header {
	margin-bottom: 0;
}

.grid-box .entry-title,
body.page .grid-box .entry-title {
	padding: 6px 12px 2px 12px;
	font-size: 15px; /* for IE8 */
	font-size: 0.95rem;
	font-weight: 400;
	line-height: 16px; /* for IE8 */
	line-height: 1rem;
	text-transform: uppercase;
}

	.grid-box.featured:first-child .entry-title,
	.grid-box.latest .entry-title,
	body.page .grid-box.featured:first-child .entry-title,
	body.page .grid-box.latest .entry-title {
		padding: 8px 15px;
		font-size: 21px; /* for IE8 */
		font-size: 1.3rem;
		font-weight: 300;
		line-height: 24px; /* for IE8 */
		line-height: 1.5rem;
		text-transform: none;
	}
	
.grid-box .post_content,
body.page .grid-box .post_content {
	margin-bottom: 0;
}

.grid-box .post_content p {
	margin-bottom: 12px;	
}
	.grid-box .post_content p:last-child {
		margin-bottom: 0;
	}

.grid-box .entry-content {
	font-size: 11px; /* for IE8 */
	font-size: 0.7rem;
	line-height: 16px; /* for IE8 */
	line-height: 1rem;
	padding: 2px 12px 12px 12px;
}
	.grid-box.featured:first-child .entry-content,
	.grid-box.latest .entry-content {
		font-size: 14px; /* for IE8 */
		font-size: 0.9rem;
		line-height: 20px; /* for IE8 */
		line-height: 1.25rem;
		padding: 5px 15px 17px 12px;
	}
	
	.grid-box .entry-content a,
	.grid-box .entry-content a:visited {
		color: #fff;
		text-decoration: underline;
	}
	
	.grid-box .format-aside .entry-content,
	.grid-box .format-status .entry-content {
		font-style: italic;
		line-height: 16px; /* for IE8 */
		line-height: 1rem;
		margin: 10px 0 10px 12px;
		padding: 0 12px;
		border-left: 1px solid #fff;
	}
	
	.grid-box .format-aside footer.entry-meta {
		
	}
	
.grid-box .cat-links {
	background-color: #359bed;
	display: block;
	padding: 6px 12px;
	position: absolute; 
	top: 0;
	right: 0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 11px; /* for IE8 */
	font-size: .7rem;
	text-transform: uppercase;
	line-height: 14px; /* for IE8 */
	line-height: 0.9rem;
	max-height: 24px;
	overflow: hidden;
	display: none;
}
	.grid-box .cat-links a {
		color: #fff;
		text-decoration: none;
	}

.grid-box-noimg {
	text-indent: -9999px;
	height: 5px;
}

.grid-box .format-video video, 
.grid-box .format-video object,
.grid-box .format-video embed,
.grid-box .format-video iframe {
	max-height: 135px;
	min-height: 135px;
	min-width: 100%;
	max-width: 100%;
}

.grid-box .vid-wrapper {
	width: 100%;
}

/******************************************************************
GALLERY STYLES
******************************************************************/
.gallery { 
	margin: 0 auto 18px; /* for ie8 & below */ 
	margin: 0 auto 1.8rem;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
}

.gallery-columns-3 .gallery-item {
	width: 33%;
}

.gallery-columns-2 .gallery-item { 
	width: 50%; 
}

.gallery-columns-4 .gallery-item { 
	width: 23%; 
	margin-right: 2%;
	margin-bottom: 0;
}

.gallery-columns-5 .gallery-item { 
	width: 18%; 
	margin-right: 2%;
	margin-bottom: 0;
}

.gallery-columns-6 .gallery-item { 
	width: 14.5%; 
	margin-right: 2.1%;
	margin-bottom: 0;
}

.gallery-columns-7 .gallery-item { 
	width: 12%; 
	margin-right: 2.2%;
	margin-bottom: 0;
}

.gallery-columns-8 .gallery-item { 
	width: 10%; 
	margin-right: 2.5%;
	margin-bottom: 0;
}

.gallery-columns-9 .gallery-item { 
	width: 9%; 
	margin-right: 2.1%;
	margin-bottom: 0;
}

	.gallery .gallery-item a {
		padding: 0;
		display: block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

.gallery img {
	box-shadow: 0px 0px 2px #c8c8c8;
	border: 1px solid white;
	padding: 3%;
	background: #f2f2f2;
	max-width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.gallery img:hover {
	background: white;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	line-height: 17px; 
	margin: -15px 4px 12px; 
	margin: -1.5rem 0.4rem 1.2rem;
}
.gallery dl, 
.gallery dt,
.gallery-icon { 
	margin: 0; 
	border-bottom: 0; 
	padding: 0;
}
/* Pick the second line break if two
line breaks are adjacent */
.gallery br+br { 
	display: none; 
}


.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/******************************************************************
POST FORMAT STYLES
******************************************************************/

.single .format-aside .entry-header {
	display: block;
}
.format-aside .entry-content,
.format-aside .entry-summary {
	padding-top: 0;
	font-style: italic;
	line-height: 25px; /* for IE8 */
	line-height: 1.6rem;
	margin: 24px 35px 40px 0; /* for IE8 */
	margin: 1.5rem 2.2rem 2.5rem 0;
	padding-left: 35px; /* for IE8 */
	padding-left: 2.2rem;
	padding-top: 0;
	border-left: 3px solid #f3f3f3;
}
.single .format-aside .entry-content,
.single .format-aside .entry-summary {
	padding-top: 0;
}


/* Image Posts */

.single .format-image .entry-header {
	display: block;
}
.single .format-image .entry-content,
.single .format-image .entry-summary {
	padding-top: 16px; /* for IE8 */
	padding-top: 1rem;
}
.single .format-image .entry-content,
.single .format-image .entry-summary {
	padding-top: 0;
}
	
/******************************************************************
PAGE NAVI STYLES
(Special Feature)
******************************************************************/
.pagination {
	width: 100%;
	clear: both;
	padding: 20px 0 0 0;
	position: relative;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
}
	 
.pagination span, .pagination a {
	display: inline-block;
	margin: 2px 2px 2px 0;
	padding: 6px 9px 5px 9px;
	text-decoration: none;
	width: auto;
	color: #fff;
	background-color: #000;
}
	 
.pagination a:hover {
	color: #fff;
	background-color: #359bed;
}
	 
.pagination .current {
	padding: 6px 9px 5px 9px;
	background-color: #359bed;
	color: #fff;
}

/* fallback previous & next links */
.wp-prev-next {}
	.wp-prev-next ul {}
		.wp-prev-next .prev-link {}
		.wp-prev-next .next-link {}
			
/******************************************************************
PAGE LINK STYLES
******************************************************************/

.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.625rem;
}
.page-link a,
.page-link a:visited {
	background-color: #f2f2f2;
	color: #373737;
	margin: 0;
	padding: 2px 5px;
	text-decoration: none;
}
.page-link a:hover {
	background-color: #c9c9c9;
	color: #fff;
	font-weight: bold;
}
	.grid-box .page-link a,
	.grid-box .page-link a:visited,
	.grid-box .page-link a:hover {
		background-color: transparent !important;
	}
	
.page-link span {
	margin-right: 6px;
}

.wp-prev-next .prev-link, 
.nav-previous, 
.previous-image { 
	float: left; 
	margin: 10px 0; 
}

.wp-prev-next .next-link, 
.nav-next, 
.next-image { 
	float: right; 
	margin: 10px 0; 
}
		
#image-navigation, 
#comment-nav-below, 
#comment-nav-above, 
#nav-above, 
#nav-below { 
	display: block; 
	overflow: hidden; 
	margin: 0 0 30px 0; 
	text-transform: uppercase;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 800;
}
	#image-navigation {
		margin: 0  0 30px 0;
	}
	
	#comment-nav-below {
		margin-top: 30px;
	}

#comment-nav-above a, 
#comment-nav-below a, 
#nav-above a, 
#nav-below a, 
#image-navigation a {
	color: #000;
}

	#comment-nav-above a:hover, 
	#comment-nav-below a:hover, 
	#nav-above a:hover, 
	#nav-below a:hover, 
	#image-navigation a:hover {}
	
/******************************************************************
SIDEBARS & ASIDES
******************************************************************/

#sidebar {
	float: right;
	margin-top: 35px; /* for IE8 */
	margin-top: 2.2rem;
}

#sidebar-home {
	overflow: hidden;
	width: 104%;
	margin-left: -1.2%;
	padding: 20px 0;
}
	
	.widget {
		margin-bottom: 30px;
	}
	
	#sidebar .widget,
	#sidebar-home .widget {
		margin: 0 0 30px 0;
		padding: 0 25px 25px 25px;
		border: 1px solid #000;
		word-wrap: break-word;
		border-top: 3px solid #359bed;
		font-size: 12px; /* for IE8 */
		font-size: 0.75rem;
		
	}
		#sidebar-home .widget {
			display: inline-block;
			float: left;
			width: 22.5%;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin: 1%;
		}
		
		#sidebar .widget a,
		#sidebar-home .widget a {
			color: #000;
			text-decoration: none;
		}
		
		#sidebar .widget a:hover,
		#sidebar-home .widget a:hover {
			text-decoration: underline;
		}
		
		#sidebar .widget li,
		#sidebar-home .widget li,
		.widget_nav_menu li, 
		#meta.widget aside a {
			line-height: 16px; /* for IE8 */
			line-height: 1rem; 
			margin-bottom: 13px; /* for IE8 */
			margin-bottom: 0.85rem;
		}
			#sidebar .widget li:last-child,
			#sidebar-home .widget li:last-child,
			.widget_nav_menu li:last-child, 
			#meta.widget aside a:last-child {
				margin-bottom: 0;
			}
		
			#sidebar .widget ul.sub-menu li:last-child,
			#sidebar .widget ul.children li:last-child,
			#sidebar-home .widget ul.sub-menu li:last-child,
			#sidebar-home .widget ul.children li:last-child {
				
			}
		
		#sidebar .widget li a {}
		
		#sidebar .widget-title,
		#sidebar-home .widget-title {
			background: url(library/images/widget-bg.png) no-repeat 95% center #000;
			margin: 0 -25px 20px -25px;
			font-family: "Open Sans", Arial, Helvetica, sans-serif;
			font-size: 19px; /* for IE8 */
			font-size: 1.2rem;
			font-weight: 300;
			padding: 12px 35px 12px 20px;
			color: #fff;
		}
		
			.post_content .widget-title {}

/* links widget */
.widget_links {}
.widget_links ul {}
.widget_links ul li {}
.widget_links ul li a {}

/* meta widget */
.widget_meta {}
.widget_meta ul {}
.widget_meta ul li {}
.widget_meta ul li a {}

/* pages widget */
.widget_pages {}
.widget_pages ul {}
.widget_pages ul li {}
.widget_pages ul li a {}

/* recent-posts widget */
.widget_recent_entries {}
.widget_recent_entries ul {}
.widget_recent_entries ul li {}
.widget_recent_entries ul li a {}

/* archives widget */
.widget_archive {}
.widget_archive ul {}
.widget_archive ul li {} 
.widget_archive ul li a {}
.widget_archive select {}
.widget_archive option {}

/* tag-cloud widget */
.widget_links {}
.widget_links li:after {}
.widget_links li:before {}
.widget_tag_cloud {}
.widget_tag_cloud a { padding: 3px; }
.widget_tag_cloud a:after { content: ","; }
.widget_tag_cloud a:before {}
.tagcloud {}

/* calendar widget */
.widget_calendar {}
#wp-calendar {
	text-align: center;
	width: 95%;
	margin: auto;
}
#calendar_wrap { padding: 15px 0; }
#calendar_wrap th {}
#calendar_wrap td {}
#wp-calendar tr td {}
#wp-calendar caption { 
	font-size: 18px; 
	font-weight: bold; 
	margin-bottom: 12px; 
	text-transform: uppercase;
}

#wp-calendar a {}
#wp-calendar #today {}
#wp-calendar #prev {}
#wp-calendar #next {}
#wp-calendar #next a {}
#wp-calendar #prev a {}

/* category widget */
.widget_categories {}
.widget_categories ul {}
.widget_categories ul li {} 
.widget_categories ul ul.children {}
.widget_categories a {}
.widget_categories select{}
.widget_categories select#cat {}
.widget_categories select.postform {}
.widget_categories option {}
.widget_categories .level-0 {}
.widget_categories .level-1 {}
.widget_categories .level-2 {}
.widget_categories .level-3 {}

/* recent-comments widget */
.recentcomments {}
#recentcomments {}
#recentcomments li {}
#recentcomments li a {}
.widget_recent_comments {}

/* search widget */
#searchform {}
.widget_search {}
.widget_search #s { 
	width: 60%; 
}
.screen-reader-text {}

/* text widget */
.textwidget {}
.widget_text {}
.textwidget p {}
			
/******************************************************************
COMMENT STYLES
******************************************************************/
#comments {}
#comments-title {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 21px; /* for IE8 */
	font-size: 1.3rem;
	font-weight:  300;
	margin: 0 0 24px 0; /* for IE8 */
	margin: 0 0 1.5rem 0; 
}/* h3 comment title */
	#comments span {} /* number of comments span */
.comment-nav {}
	.comment-nav ul {}
		.comment-nav ul li {}
		
.commentlist {
	margin: 0; 
}

body.page-template-full-width-php .commentlist {}

	.commentlist li.comment { 
		position: relative; 
		margin: 0;
		padding: 30px 0 0 0; 
		clear: both; 
		overflow: hidden; 
	}
	
		.commentlist footer.comment-head {
		  
	  	}
	
	.commentlist li.pingback { 
		margin: 30px 0 0 0; 
		background-color: #f7f7f7;
		padding: 12px 22px;
		text-transform: uppercase;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		border-top: 2px solid #e6e6e6;
	}
		.commentlist li.pingback a {
			text-transform: none;
			font-style: italic;
		}
	
	.commentlist li.comment article[id*=comment-] {
		background-color: #f7f7f7;
		margin-left: 65px;
		padding: 18px 22px 32px 22px;
		border-top: 2px solid #e6e6e6;
		position: relative;
	}
		.commentlist li.comment article[id*=comment-]:before {
			content: "";
			position: absolute;
			left: -11px;
			top: 5px;
			width: 11px;
			height: 22px;
			background-image: url(library/images/comment.png);
		}
	
	.commentlist #respond {
		margin-left: 0;
		margin-right: 0;
	}
		.commentlist #respond label {
			margin-left: 0;
		}
		
		.commentlist #respond #author, 
		.commentlist #respond #email, 
		.commentlist #respond #url, 
		.commentlist #respond #comment {
			
		}
	
		.commentlist li[class*=depth-] {
			margin-left: 35px; /* for IE8 */
			margin-left: 2.2rem;
			margin-top: 17px; /* for IE8 */
			margin-top: 1.1rem; 
		}
			.commentlist li.depth-1 { 
				margin-left: 0; 
				margin-top: 0; 
			}
			.commentlist li.depth-2 {}
			.commentlist li.depth-3 {}
			.commentlist li.depth-4 {}
			.commentlist li.depth-5 {}
				.commentlist li.comment ul.children li {}
				.commentlist li.comment ul.children li.alt {}
				.commentlist li.comment ul.children li.byuser {}
				.commentlist li.comment ul.children li.comment {}
				.commentlist li.comment ul.children li.depth-1 {} /* change number for different depth */
				.commentlist li.comment ul.children li.bypostauthor {}
				.commentlist li.comment ul.children li.comment-author-admin {}
				.commentlist li.comment ul.children .alt {}
				.commentlist li.comment ul.children .odd {}
				.commentlist li.comment ul.children .even {}
			.commentlist .alt {}
			.commentlist .odd {}
			.commentlist .even {}
			.commentlist .parent {}
			.commentlist .comment {}
			.commentlist .children {}
			.commentlist .pingback {}
			.commentlist .bypostauthor {}
			.commentlist .comment-author {}
			.commentlist .comment-author-admin {}
			
				
				
			.commentlist .thread-alt {}
			.commentlist .thread-odd {}
			.commentlist .thread-even {}	
			.commentlist .vcard { 
				
				
			}
				.commentlist .vcard cite.fn { 
					font-family: "Open Sans", Arial, Helvetica, sans-serif;
					font-weight: 300; 
					font-style: normal;
					font-size: 19px; /* for IE8 */
					font-size: 1.2rem;
				}
					.commentlist .bypostauthor > article > footer > .vcard cite.fn:after { 
						content: " (Author)";
						font-size: 12px; /* for IE8 */
						font-size: 0.75rem;
						font-weight: normal;
						font-style: italic;
					}
					
				.commentlist .vcard time, 
				.comment-meta { 
					font-family: "Open Sans", Arial, Helvetica, sans-serif;
					font-weight: 400;
					font-size: 12px;; /* for IE8 */
					font-size: 0.75rem;
					font-style: italic;
					line-height: 14px; /* for IE8 */
					line-height: 0.9rem;
				}
					.commentlist .vcard time a,
					.comment-meta a { 
						text-decoration: none; 
						color: #999; 
					}
						.commentlist .vcard time a:hover,
						.comment-meta a:hover { 
							text-decoration: underline;
						}
						
				.commentlist .vcard img.photo {}
				.commentlist .vcard img.avatar { 
					position: absolute; 
					left: -65px; 
					top: 0px; 
					border-radius: 50%;
				}
				.commentlist .vcard cite.fn a.url {}
			.commentlist .comment-meta {} 
				.commentlist .comment-meta a {}
			.commentlist .commentmetadata {}
				.commentlist .commentmetadata a {}
			.commentlist li.comment .comment-content { 
				padding-top: 20px;
				padding-bottom: 30px;
				font-size: 12px; /* for IE8 */
				font-size: 0.75rem; 
			}
				.commentlist li.comment .comment-content p { 
					line-height: 24px; /* for IE8 */
					line-height: 1.5rem; 
					margin: 12px 0 24px; /* for IE8 */
					margin: 0.7335rem 0 1.5rem;
					
				}
					.commentlist li.comment .comment-content p:last-child {
						margin: 0;
					}
				.commentlist li.comment ul { 

				}
				
				.commentlist .comment-reply-link,
				.commentlist .comment-reply-login {
					background-image: url(library/images/reply.png);
					background-repeat: no-repeat;
					background-position: right center;
					text-decoration: none;
					float: right;
					font-family: "Open Sans", Arial, Helvetica, sans-serif;
					font-size: 12px; /* for IE8 */
					font-size: 0.75rem;
					font-weight: 800;
					line-height: 24px; /* for IE8 */
					line-height: 1.5rem; 
					padding: 3px 15px 3px 5px; 
					color: #bdbdbd;
					text-transform: uppercase;
					margin-right: -10px;
				}
				
					.commentlist a.comment-reply-link:hover {}
					
					.nocomments { 
						padding: 15px; 
						text-align: center; 
					}

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

#respond-form {}
body.page-template-full-width-php #respond-form {}

#respond {
	margin: 30px  0 30px 0; 
}
#reply-title {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 22px;
	margin-bottom: 5px;
	line-height: 26px;
}
#respond label {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
	display: inline-block;
	font-size: 14px;
	min-width: 110px;
	text-transform: uppercase;
}
	#respond label[for=author],
	#respond label[for=email] {
		min-width: 110px;
	}
#respond p {
	margin-bottom: 16px; /* for IE8 */
	margin-bottom: 1rem;
}
#respond p.form-submit {
	text-align: center;
	margin-bottom: 19px; /* for IE8 */
	margin-bottom: 1.2rem;
}
#respond p.form-allowed-tags {
	font-size: 13px; /* for IE8 */
	font-size: 0.8rem;
	display: none;
}
#respond .required {
	margin-left: -14px;
	padding-right: 5px;
	color: #f00;
}
#respond .required:first-child {
	margin-left:0;
}

#respond .comment-notes,
#respond .logged-in-as {
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	color: #a4a4a4;
	margin-bottom: 30px;
}
	#respond #comment-form-title {
		margin: 0 0 17px; /* for IE8 */
		margin: 0 0 1.1rem; 
	}
		#respond #cancel-comment-reply-link { 
			float: right; 
		}
			#respond #cancel-comment-reply-link a {}
	#respond #commentform {}
		#respond .comments-logged-in-as {}
		#respond #comment-form-elements {
			margin: 12px 0; /* for IE8 */
			margin: 0.75rem 0; 
		}
			#respond #comment-form-elements li { 
				overflow: hidden; 
				margin-bottom: 12px; /* for IE8 */
				margin-bottom: 0.7335rem; 
			}
				#respond #comment-form-elements label { 
					display: none; 
				}
				#respond #comment-form-elements small { 
					display: none; 
				}
				
				#respond input[type=text],
				#respond #author, 
				#respond #email, 
				#respond #url { 
					padding: 5px 7px; 
					width: 65%; 
				}
				
				#respond #comment { 
					resize: none; 
					padding: 5px 7px; 
					width: 65%; 
					height: 150px; 
					vertical-align: top; 
				}
				
				#respond input[type=text],
				#respond #author, 
				#respond #email, 
				#respond #url, 
				#respond #comment {
					background-color: #f7f7f7;
					border: 0;
					border-top: 2px solid #e6e6e6;
					font-size: 16px; /* for IE8 */
					font-size: 1rem; 
				}
					#respond input[type=text]:focus,
					#respond #author:focus, 
					#respond #email:focus, 
					#respond #url:focus, 
					#respond #comment:focus {
						outline: none;
					}

				
				#respond input[type=text] {}
			#respond #allowed_tags {}
				#respond #comment {}
				#respond #submit {
					border: 0;
					background-color: #359bed;
					color: #fff;
					font-family: "Open Sans", Arial, Helvetica, sans-serif;
					font-weight: 400;
					text-transform: uppercase;
					padding: 7px 15px;
				}
				
		/* form validation */
		#commentform input:invalid, 
		#commentform textarea:invalid { 
			border-color: red; 
			outline: none; 
			box-shadow: none; 
			-webkit-box-shadow: none; 
			-moz-box-shadow: none; 
			background-color: #f6e7eb; 
		}
		
		#commentform input:valid {}
		
		/* no comments */
		.nocomments {
			margin: 0 20px 17px; /* for IE8 */
			margin: 0 20px 1.1rem; 
		}


	
/******************************************************************
IMAGE STYLES
******************************************************************/
.post_content img {
	margin-top: 12px; /* for IE8 */
	margin-top: 0.75rem;
}

.left img, 
img.left,
.alignleft,
img.alignleft,
img[align=left] {
	margin-right: 24px; /* for IE8 */
	margin-right: 1.5rem;
	margin-bottom: 16px; /* for IE8 */
	margin-bottom: 1rem;
	margin-top: 12px; /* for IE8 */
	margin-top: .75rem;
	display: inline-block; 
	float: left;
}

.right img, 
img.right,
.alignright,
img.alignright,
img[align=right] {
	margin-left: 24px; /* for IE8 */
	margin-left: 1.5rem;
	margin-bottom: 16px; /* for IE8 */
	margin-bottom: 1rem;
	margin-top: 12px; /* for IE8 */
	margin-top: .75rem;
	display: inline-block; 
	float: right;
}

.aligncenter,
img.aligncenter, 
img[align=center] { 
	margin-right: auto; 
	margin-left: auto; 
	display: block; 
	clear: both; 
}

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
	max-width: 100%; /* When images are too wide for containing elrement, force threm to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}

/* Notices */
.post .notice {
	background: #eee;
	display: block;
	padding: 16px; /* for IE8 */
	padding: 1rem;
}

/* Image Attachments */



.entry-attachment {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.imgthumb img {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
	margin-top: 5px;
	border: 1px solid #999;
}

/* wp caption styles */
			
.wp-caption { 
	margin-bottom: 24px; /* for IE8 */
	margin-bottom: 1.5rem; 
	text-align: center; 
	padding-top: 5px; 
	max-width: 100%; 
}

.wp-caption img { 
	border: 0 none; 
	padding: 0; 
	margin: 0; 
}

.wp-caption p.wp-caption-text,
.entry-caption { 
	font-size: 13px; /* for IE8 */
	font-size: .8rem; 
	font-style: italic; 
	margin: 10px 0 3px; /* for IE8 */
	margin: .6rem 0 -.2rem; 
}

/* misc styles */

.wp-smiley { 
	margin: 0 !important; 
	max-height: 16px; /* for IE8 */
	max-height: 1rem; 
}

/******************************************************************
FOOTER STYLES
******************************************************************/

footer[role=contentinfo] {
	padding: 19px 0; /* for IE8 */
	padding: 1.2rem 0;
	border-top: 1px solid #000;
}

			
	.attribution {
		float: none;
		text-align: center;
	}
	
	#site-generator {
		font-size: 11px; /* for IE8 */
		font-size: 0.7rem;
		color: #000;
		text-align: center;
	}
	
	#site-generator a {
		color: #000;
		text-decoration: underline;
	}
	
	#site-generator a:hover {
		text-decoration: none;
	}
	
	#site-generator .sep {
		padding: 0 10px;
	}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.surfaram-color-field {
	width: 65px;
}

.colortxt {
	color: #359bed;
}
	
/******************************************************************
MEDIA QUERIES & DEVICE STYLES
Developed by: Andy Clarke & the 320 & Up Extension
URL: http://stuffandnonsense.co.uk/projects/320andup/
******************************************************************/
@media only screen and (max-width: 6000px) {
	#container {
		max-width: 1140px;
	}
	
	#search-box {
		max-width: 1140px;
	}
}

@media only screen and (max-width: 4000px) {
	#container {
		max-width: 1096px;
	}
	
	#search-box {
		max-width: 1096px;
	}
}

@media only screen and (max-width: 2880px) {
	#container {
		max-width: 1056px;
	}
	
	#search-box {
		max-width: 1056px;
	}
}

@media only screen and (max-width: 2560px) {
	#container {
		max-width: 1040px;
	}
	
	#search-box {
		max-width: 1040px;
	}
}

@media only screen and (max-width: 2048px) {
	#container {
		max-width: 1022px;
	}
	
	#search-box {
		max-width: 1022px;
	}
}


@media only screen and (max-width: 1920px) {
	#container {
		max-width: 1017px;
	}
	
	#search-box {
		max-width: 1017px;
	}
}

@media only screen and (max-width: 1600px) {
	#container {
		max-width: 1004px;
	}
	
	#search-box {
		max-width: 1004px;
	}
}

@media only screen and (max-width: 1440px) {
	#container {
		max-width: 998px;
	}
	
	#search-box {
		max-width: 998px;
	}
}

@media only screen and (max-width: 1366px) {
	#container {
		max-width: 993px;
	}
	
	#search-box {
		max-width: 993px;
	}
}

@media only screen and (max-width: 1280px) {
	#container {
		max-width: 992px;
	}
	
	#search-box {
		max-width: 992px;
	}

}

@media only screen and (max-width: 1152px) and (min-width: 1136px) {
	#container {
		max-width: 986px;
	}
	
	#search-box {
		max-width: 986px;
	}
}

@media only screen and (max-width: 1024px) {
	#container {
		width: 98%;
		max-width: 982px;
	}
	
	#search-box {
		width: 98%;
		max-width: 982px;
		padding: 0 1%;
	}
	
	#grid-wrap {
		width: 960px;
	}

}

@media only screen and (max-width: 980px) {
	#container {
		width: 98.4%;
		max-width: 980px;
	}
	
	#search-box {
		width: 98.4%;
		max-width: 980px;
	}
	
	#grid-wrap {
		width: 936px;
	}
	
	.grid-box {
		width: 212px;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 444px;
	}

}

@media only screen and (max-width: 960px) {
	
	#search-box #close-x {
		margin-right: 15px;	
	}
	
	#container {
		width: 98%;
		max-width: 954px;
	}
	
	#search-box {
		width: 98%;
		max-width: 954px;
	}
	
	#grid-wrap {
		width: 912px;
	}
	
	.grid-box {
		width: 208px;
		margin: 0.9% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 434px;
	}

}

@media only screen and (max-width: 824px) {
	
	#search-box #close-x {
		margin-right: 20px;	
	}
	
	#site-title {
		margin-right: 0;
	}

	#site-description {
		margin-right: 0;
	}
	
	#access, .menu.nav-mobile { 
		position: relative; 
	}
	
	.menu.nav-mobile ul li { 
		list-style-type: none; 
		float: none; 
	}
	
	nav[role=navigation] div.menu > ul {
		background: #f5f5f5;
		box-shadow: 1px 1px 1px #000;
		position: absolute; 
		z-index: 9999; 
		width: 220px; 
		word-wrap: break-word;
		display: none;
		overflow: visible;
	}
		nav[role=navigation] div.menu > ul > li {
			position: relative;
		}
	
	nav[role=navigation] .menu.nav-mobile #menu-icon { 
		display: block;
		width: 80px; 
	}
	
	nav[role=navigation] .menu.nav-mobile ul li,
	nav[role=navigation] .menu.nav-mobile ul.sub-menu li, 
	nav[role=navigation] .menu.nav-mobile ul.children li {
		border-bottom: 1px solid #e3e3e3;
		min-width: 100%;
	}
	
	nav[role=navigation] .menu.nav-mobile ul li a  { 
		color: #555;
		background: none;
		border-radius: 0;
		box-shadow: none;
		padding: 7px 20px;
	}
	
	nav[role=navigation] .menu.nav-mobile ul li.current-menu-item a, 
	nav[role=navigation] .menu.nav-mobile ul li.current_page_item a {
		background: #f5f5f5;
	}
	
	nav[role=navigation] .menu.nav-mobile ul li a:hover,
	nav[role=navigation] .menu.nav-mobile ul li.current-menu-item a:hover, 
	nav[role=navigation] .menu.nav-mobile ul li.current_page_item a:hover {
		background: #eaeaea;
	}

	
	nav[role=navigation] .menu.nav-mobile ul li > ul.sub-menu, 
	nav[role=navigation] .menu.nav-mobile ul li > ul.children,
	nav[role=navigation] .menu.nav-mobile ul li ul.sub-menu li ul, 
	nav[role=navigation] .menu.nav-mobile ul li ul.children li ul {
		background: #f5f5f5;
		display: block;
		position: relative;
		z-index: 9999; 
		right: auto;
		top: auto;
		margin-top: 0;
		width: 100%;
		box-shadow: none;
	}
	
		nav[role=navigation] .menu.nav-mobile ul li ul.sub-menu li, 
		nav[role=navigation] .menu.nav-mobile ul li ul.children li {
			border: 0;
			border-top: 1px solid #e3e3e3;
			text-indent: 20px;	
		}
		
			nav[role=navigation] .menu.nav-mobile ul li ul.sub-menu li ul li, 
			nav[role=navigation] .menu.nav-mobile ul li ul.children li ul li {
				text-indent: 40px;
			}
			
				nav[role=navigation] .menu.nav-mobile ul li ul.sub-menu li ul li ul li, 
				nav[role=navigation] .menu.nav-mobile ul li ul.children li ul li ul li {
					text-indent: 60px;
				}
		
	#main.col620 {
		width: 100%;
		display: block;
	}
	
	#site-heading { 
		width: 100%;
		float: none;
		text-align: center;
	}
	
	#social-media {
		display: block;
		padding-top: 0;
		text-align: center;
		margin: auto;
		float: none;
		width: auto;
	}
	
	#sidebar.col300 {
		float: none;
		display: block;
		width: 100%;
		clear: both;
		margin: 0;
	}
	
	.widget {
		margin: 35px 30px; /* for IE8 */
		margin: 2.2rem 30px;
	}
	
	#sidebar-home .widget {
		width: 96%;
		margin: 1.2%;
	}
	
	#sidebar .widget-title,
	#sidebar-home .widget-title {
		background-position: 98% center;
	}
	

}

@media only screen and (min-width: 824px) {
	nav[role=navigation] div.menu > ul, 
	div.menu > ul { 
		display:block !important;
	}
}

@media only screen and (max-width: 800px) {
	#container {
		width: 98.6%;
		max-width: 800px;
		overflow: hidden;
	}
	
	#search-box {
		width: 98.6%;
		max-width: 800px;
		padding: 0 1.5%;
	}
	
	#grid-wrap {
		width: 800px;
	}
	
	.grid-box {
		width: 236px;
		margin: 1.1% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 488px;
	}
}

@media only screen and (max-width: 768px) {
	#container {
		width: 98.8%;
		max-width: 768px;
		overflow: hidden;
	}
	
	#search-box {
		width: 98.8%;
		max-width: 768px;
	}
	
	#grid-wrap {
		width: 768px;
	}
	
	.grid-box {
		width: 224px;
		margin: 1.4% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 468px;
	}
}

@media only screen and (max-width: 720px) {
	#container {
		width: 99%;
		max-width: 720px;
		overflow: hidden;
	}
	
	#search-box {
		width: 99%;
		max-width: 720x;
	}
	
	#grid-wrap {
		width: 720px;
		
	}
	
	.grid-box {
		width: 210px;
		margin: 1.5% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 438px;
	}

}

@media only screen and (max-width: 640px) {
	#container {
		width: 99%;
		max-width: 640px;
	}
	
	#search-box {
		width: 99%;
		max-width: 640px;
		padding: 0 2%;
	}
	
	#search-box #s {
		width: 320px;
	}
	
	#grid-wrap {
		width: 640px;
	}
	
	.grid-box {
		width: 285px;
		margin: 1.6% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 590px;
	}
	
	.grid-box .format-video video, 
	.grid-box .format-video object,
	.grid-box .format-video embed,
	.grid-box .format-video iframe {
		max-height: 160px;
		min-height: 160px;
	}

}

@media only screen and (max-width: 600px) {
	#container {
		width: 99%;
		max-width: 600px;
	}
	
	#search-box {
		width: 99%;
		max-width: 600px;
	}
	
	#grid-wrap {
		width: 600px;
	}
	
	.grid-box {
		width: 268px;
		margin: 1.5% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 554px;
	}

}
@media only screen and (max-width: 576px) {
	#container {
		width: 99%;
		max-width: 576px;
	}
	
	#search-box {
		width: 99%;
		max-width: 576px;
	}
	
	#main #intro-text {
		padding: 0 2px 10px 2px;
		font-size: 18px; /* for IE8 */
		font-size: 1.1rem;	
	}
	
	#grid-wrap {
		width: 576px;
	}
	
	.grid-box {
		width: 256px;
		margin: 1.6% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 530px;
	}

}

@media only screen and (max-width: 480px) {
	#container {
		width: 98%;
		max-width: 480px;
	}
	
	#search-box {
		width: 98%;
		max-width: 480px;
	}
	
	#search-box #s {
		width: 280px;
	}
	
	#grid-wrap {
		width: 480px;
	}
	
	.grid-box {
		width: 210px;
		margin: 1.8% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 436px;
	}
	
	#sidebar .widget-title,
	#sidebar-home .widget-title {
		background-position: 96% center;
	}
	
	.grid-box .format-video video, 
	.grid-box .format-video object,
	.grid-box .format-video embed,
	.grid-box .format-video iframe {
		max-height: 120px;
		min-height: 120px;
	}
	
}

@media only screen and (max-width: 360px) {
	#container {
		width: 98%;
		max-width: 360px;
	}
	
	#search-box {
		width: 98%;
		max-width: 360px;
	}
	
	#search-box #s {
		width: 200px;
	}
	
	#search-box #searchform input[type=submit] {
		display: none;
	}
	
	#grid-wrap {
		width: 360px;
	}
	
	.grid-box {
		width: 323px;
		margin: 1.8% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 323px;
	}
	
	
}

@media only screen and (max-width: 320px) {
	#container {
		width: 98%;
		max-width: 320px;
	}
	
	#site-title {
		font-size: 40px; /* for IE8 */
		font-size: 2.5rem;
	}
	
	#main #intro-text {
		font-size: 16px; /* for IE8 */
		font-size: 1rem;	
	}
	
	#search-box {
		width: 98%;
		max-width: 320px;
	}
		
	#grid-wrap {
		width: 320px;
	}
	
	.grid-box {
		width: 284px;
		margin: 1.8% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 284px;
	}
	
	.grid-box .format-video video, 
	.grid-box .format-video object,
	.grid-box .format-video embed,
	.grid-box .format-video iframe {
		max-height: 160px;
		min-height: 160px;
	}
	

}

@media only screen and (max-width: 240px) {
	#container {
		width: 98%;
		max-width: 240px;
	}
	
	#site-title {
		font-size: 32px; /* for IE8 */
		font-size: 2rem;
	}
	
	#search-box #s {
		width: 150px;
	}
	
	#search-box {
		width: 98%;
		max-width: 240px;
	}
	
	#grid-wrap {
		width: 240px;
	}
	
	.grid-box {
		width: 210px;
		margin: 1.8% 0;
	}
	
	.grid-box.featured:first-child,
	.grid-box.latest {
		width: 210px;
	}
	
	.grid-box .format-video video, 
	.grid-box .format-video object,
	.grid-box .format-video embed,
	.grid-box .format-video iframe {
		max-height: 120px;
		min-height: 120px;
	}
}
/******************************************************************
PRINT STYLES
******************************************************************/

@media print {
	
	* { 
		background: transparent !important; 
		color: #444 !important; 
		text-shadow: none !important; 
	}
	
	a, a:visited { 
		color: #444 !important; 
		text-decoration: underline; 
	}
	
	a:after { 
		content: " (" attr(href) ")"; 
	} 
	
	abbr:after { 
		content: " (" attr(title) ")"; 
	}
	
	.ir a:after { 
		content: ""; 
	}  
	
	pre, 
	blockquote { 
		border: 1px solid #999; 
		page-break-inside: avoid; 
	}
	
	thead { 
		display: table-header-group; 
	}
	 
	tr, 
	img { 
		page-break-inside: avoid; 
	}
	
	@page { 
		margin: 0.5cm; 
	}
	
	p, h2, h3 { 
		orphans: 3; 
		widows: 3; 
	}
	
	h2, h3{ 
		page-break-after: avoid; 
	}

}

